	html, body, div, span, section, h1, h2, h3, h4, h5, h6, p,
	article, header, nav  {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-family: Arial, Helvetica, sans-serif;

	}

	body{
		width: 	100%;
		min-width: 	100%;
		max-width:	100%;
		display: flex;
	    flex-wrap:  wrap;
	}

	nav{
		min-width: 	100%;
		max-width:	100%;
		margin-top: 5rem;
		margin-bottom: 1rem;
		display: 	flex;	
		justify-content: center;
		flex-wrap: wrap;
	}
		nav div{
			display: flex;
			justify-content: center;
			width: 100%;
		}

		nav span{
			font-size: xxx-large;
		}

	header{
		width: 100%;
		background-color: #c4c4c4;
		display: 	flex;
		justify-content: 	center;
		font-family:'Roboto';
	}

	section{
		max-width: 	20%;
		min-width: 	20%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
		article{
			display: flex;
			max-width: 50%;
			min-width: 50%;	
			justify-content: center;
			flex-direction: column;
			align-items: center;
			align-content: space-around;
		}

			.separador{
				 border-left: thick solid #000;
				 height:100%;
				 left: 50%;
				 position: sticky;
			}

		section span{
			font-size: xx-large;
		}

		#selecciona{
			height: 1rem;
		}

	img{
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	#jugador1 > #tijera:hover, #piedra:hover, #papel:hover{
		cursor: pointer;

	}